{% extends "base.html" %}
{% load static %}
{% block 'title' %}Reset Password{% endblock 'title' %}
{% block 'content' %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>Reset password</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Reset password</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Reset password Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">


          <div class="col-lg-6 content order-last  order-lg-first" data-aos="fade-up" data-aos-delay="100">
            <h1>Password has been Reset</h1>
                <p class="mb-0">Password reset successfully</p>
                <p><a href={% url 'accounts:login' %}>Login</a></p>
        
          </div>

        </div>

      </div>

    </section><!-- /Reset password Section -->

    

  </main>
  {% endblock 'content' %}
