{% extends "base.html" %}
{% load static %}
{% block 'title' %}service detail{% endblock 'title' %}
{% block 'content' %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url({% static 'assets/img/page-title-bg.jpg' %});">
      <div class="container position-relative">
        <h1>Service Details</h1>
        <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href={% url "root:home" %}>Home</a></li>
            <li class="current">Service Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              {% for cat in services.category.all %}
              <a class="active">{{cat.title}}</a>
              {% endfor %}
            </div>

            <h4>Enim qui eos rerum in delectus</h4>
            <p>Nam voluptatem quasi numquam quas fugiat ex temporibus quo est. Quia aut quam quod facere ut non occaecati ut aut. Nesciunt mollitia illum tempore corrupti sed eum reiciendis. Maxime modi rerum.</p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <img src={{services.image.url}} alt="" class="img-fluid services-img">
            <h3>{{services.title}}</h3>
            <p>
               {{services.content}}
            </p>
            <ul>
              {% for op in options %}
              <li><i class="bi bi-check"></i><span>{{op.title}}</span></li>
              {% endfor %}
            </ul>
            <p>
              {{services.desc}}
            </p>

          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>

  {% endblock 'content' %}