{% extends "base.html" %}
{% load static %}
{% block 'title' %}service{% endblock 'title' %}
{% block 'content' %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url({% static 'assets/img/page-title-bg.jpg' %});">
      <div class="container position-relative">
        <h1>Services</h1>
        <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href={% url "root:home" %}>Home</a></li>
            <li class="current">Services</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Our Services<br></span>
        <h2>Our ServiceS</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->
      
      <div class="container">
        <div class="row gy-4">
        {% for service in services %}
        
          <div  class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div  class="card-img" >
                <img src={{service.image.url}} alt="" class="img-fluid">
              </div>
              <h3 class="title">
                <a href={% url 'services:service-details' id=service.id %}>{{service.title}}</a>
              </h3>
              <p>{{service.desc}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      
          
        {% if services.has_next and services.has_previous %} 
          <a href={% url 'services:services' %}?page={{first}}><button>first page</button>
          <a href={% url 'services:services' %}?page={{services.previous_page_number}}><button>prev pag</button>
          <a href={% url 'services:services' %}?page={{services.next_page_number}}><button>next page</button>
          <a href={% url 'services:services' %}?page={{last}}><button>last page</button>
        {% elif services.has_next %}
          <a href={% url 'services:services' %}?page={{services.next_page_number}}><button>next page</button>
          <a href={% url 'services:services' %}?page={{last}}><button>last page</button>
        {% elif services.has_previous %}
          <a href={% url 'services:services' %}?page={{first}}><button>first page</button>
          <a href={% url 'services:services' %}?page={{services.previous_page_number}}><button>prev page</button>
        {% endif %} 
      </div>
          <!-- End Card Item -->

        



        

      

    </section><!-- /Services Section -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Features</span>
        <h2>Features</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">
        {% for feature in features %}
        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <img src={{feature.image.url}} class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
            <h3>{{feature.title}}</h3>
            <p class="fst-italic">
              {{feature.content}}
            </p>
            <ul>
              {% for op in options %}
              <li><i class="bi bi-check"></i><span>{{op.title}}</span></li>
              {% endfor %}
            </ul>
          </div>
        </div><!-- Features Item -->
        {% endfor %}
      </div>

    </section><!-- /Features Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section dark-background">

      <img src="{% static 'assets/img/testimonials-bg.jpg' %}" class="testimonials-bg" alt="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">
            {% for testers in tester %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src={{testers.image.url}} class="testimonial-img" alt="">
                <h3>{{testers.name}}</h3>
                <h4>{{testers.job}}</h4>
                <div class="stars">
                  {% for star in testers.stars_count %}
                  <i class="bi bi-star-fill"></i>
                  {% endfor %}
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>{{testers.comment}}</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Frequently Asked Questions</span>
        <h2>Frequently Asked Questions</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10">

            <div class="faq-container">

              {% for qa in fqa %}
              <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>{{qa.question}}</h3>
                <div class="faq-content">
                  <p>{{qa.answer}}</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
              {% endfor %}
            </div>

          </div>

        </div>

      </div>

    </section><!-- /Faq Section -->

  </main>

  {% endblock 'content' %}